$font-roboto:'Roboto', sans-serif;
$font-robotoCondensed: 'Roboto Condensed', sans-serif;
$font-Jost: 'Jost', sans-serif;
$media-querie: 768px;
$miMap: (semiLight:300, light:400, semiBold:500, bold:700, superBold:900);
$background-nav: #bec4fe;
$backgroundFooter:#f4f4f4;
$height: 100vh;
